@{
    ViewData["Title"] = "Home Page";
}
<div class="aviso">
    <img style=" object-fit: contain; width: 100%; height: 100%;" src="~/pictures/linux.jpg" alt="">
</div>

<h1>Desarrollo Web</h1>
<div id="filadw">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
</div>
<h1>Programacion</h1>
<div id="filadw">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
</div>
<h1>CiberSeguridad</h1>
<div id="filadw">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
</div>
<h1>Diseño</h1>
<div id="filadw">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
</div>
<h1>Base de Datos</h1>
<div id="filadw">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
    <img src="~/pictures/pc.png" alt="">
</div>
<footer>
    <p>&copy; 2023 SomosDas</p>
</footer>
