@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS');
body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
}
.portada{
 background-color: rgb(5, 29, 41); 
 color: #fff; 
 height: 60px;
 width: 100%;
 padding: 10px; 
 position: fixed; 
 display: block;
}
.portada h1{
    margin: 0;
}
.cajaM{
    display: flex;
    height: 100vh;    
}
.menu{
    left: 0;
    background-color: rgb(10, 54, 75);
    color: #fff;
    height: 100%; 
    width: 170px;
    margin-top: 80px;
    position: fixed;
    display: flex;
    flex-direction:column;
}
.menu a{
    color: #fff;
    text-decoration: none;
}
.menu div:hover{
    border-left: #fff;
    background-color: rgb(6, 34, 46);;
} 
.content{
    background-color: rgb(18, 63, 83);
    height: auto;
    width: 100%; 
    margin-top: 80px;
    margin-left: 170px;
    overflow: scroll;
    
}
.aviso {
    width: 100%;
    height: 220px;
     
}
.aviso > img{
        object-fit: contain;
        width: 100%;
        height: 100%;
}

#filadw {
  display: grid;
  grid-template-columns: 
  repeat(
    auto-fit,minmax(150px,1fr)
  );
  gap: 32px;
}
#filadw > img{
 border-radius: 8px;
 width: 100%;
 height: auto;
 box-shadow: 0px 0px 30px #000;
}
table{
 width: 100%;
 border-collapse: collapse;
 margin-top: 20px;   
}
thead{
    background-color: rgb(74, 119, 137);
}
tr td{
    border: 3px solid #fff;
    padding: 10px;
    text-align: left;
}
th {
    background-color: aqua;
}
.fila:hover{
  background-color:rgb(29, 100, 130);  
}