@model SOMOSDASWEBAPP.Models.Estudiante

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Estudiante</h1>
<hr />
<div id="formulario">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="camp-in">

            <input asp-for="CedulaIdentidad" class="form-input" id="form-ci" placeholder="Cedula de Identidad" />
            <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
        </div>
        <div class="camp-in">

            <input asp-for="NombreCompleto" class="form-input" id="form-nombre" placeholder="Nombre Completo" />
            <span asp-validation-for="NombreCompleto"></span>
        </div>
        <div class="camp-in">

            <input asp-for="Celular" class="form-input" id="form-cell" placeholder="Celular" />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>
        <div class="camp-in">

            <input asp-for="CorreoElectronico" class="form-input" id="form-mail" placeholder="Correo Electronico" />
            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
        </div>
        
        <div id="enlace" style="display:none;">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<script src="~/js/crudE.js" asp-append-version="true"></script>