@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion Somosdas</title>
    <link rel="stylesheet" href="~/css/style_login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="logo">
                <img src="~/pictures/logo.jpg" alt="Logo">
            </div>
            <div class="login-form">
                <h1>Ingresar</h1>
                <form asp-action="Login" asp-controller="Login" method="post">
                    <div class="input-group">
                        <input type="text" name="correo" id="miuser" class="input-field" required>
                        <label for="miuser">Nombre de usuario</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="contrasena" id="mipass" class="input-field" required>
                        <label for="mipass">Contraseña</label>
                    </div>
                    <div class="submit-btn">
                        <button type="submit"><img src="~/pictures/log.png" alt="Ingresar"></button>
                    </div>
                    @if (TempData["LoginError"] != null)
                    {
                        <div class="alert alert-danger">@TempData["LoginError"]</div>
                    }
                </form>
                <div class="guest-btn">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/pictures/invitado.png" alt="Invitado">
                    </a>
                </div>
            </div>
        </div>
        <div class="background-img">
            <img src="~/pictures/portada.jpg" alt="Fondo">
        </div>
    </div>
    <script src="~/js/loginjs.js"></script>
</body>
</html>
="true"></script>