
@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS');
body{
  font-family: "Comic Sans MS", cursive, sans-serif;

}
.container{
  display: flex;
  height: 100vh;
  
}
.img_L{
flex: 2;
background-color: blue;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.75;
    background-color: #fff;
}
.componentes{
 margin-top: 10%;
 display: block;
 width: 100%;


}
.form{

  background-color: #fff;
  padding: 40px 20px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #666;

}

.camp-user{
  position: relative;
}
.camp-pass{
  position: relative;
}
input{
  padding: 10px;
  width: 100%;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #04AA6D;
}
.placeholder{

  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  transition: 0.3;
  pointer-events: none;
}
.placeholderu{

  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  transition: 0.3;
  pointer-events: none;
}
input:focus + .placeholder {
 top:-10px;
 color: #04AA6D;
  background-color: #fff;
}
input:focus + .placeholderu {
  top:-10px;
  color: #04AA6D;
   background-color: #fff;
 }

 .name{
   background-color: #04AA6D;
   margin-top: 5%;
   width: 40%;
   height: 15%;
   display: block;
 }
.invite{
  display: block;
  background-color: aqua;
  width: 25%;
  height: 30%;
  margin: 4%;
}
.boton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  height: 100px;
}
.log{
  display: block;
  width: 25%;
  height: 30%;
  margin: 4%;
}